* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-size: 18px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #99ccff;
}

h1 {
  font-size: 78px;
  font-weight: lighter;
  margin: 0;
}

h2 {
  font-size: 36px;
  font-weight: lighter;
  padding-bottom: 60px;
}

h3 {
  font-size: 28px;
  color: #99ccff;
  padding-bottom: 40px;
}

h4 {
  font-size: 40px;
  margin: 0;
}

a {
  color: #99ccff;
  text-decoration: none;
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #333333;
  line-height: 1.5;
  letter-spacing: 0.25px;
  font-size: 20px;
  margin-bottom: 18px;
}

section {
  padding: 60px 0;
}

.header-section {
  position: relative;
  height: 100vh;
}

.nav-bar {
  position: absolute;
  left: 55%;
  top: 20px;
  width: 44%;
  height: 500px;
  padding: 15px;
  background-color: #99ccff;
  z-index: 1;
}

.nav-bar a {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #333333;
  font-size: 20px;
  padding: 30px;
  letter-spacing: 0.5px;
}

.nav-bar a:hover {
  color: #ffffff;
  transition: color 500ms ease-in 200ms;
}

a:hover {
  color: #333333;
  transition: color 500ms ease-in 200ms;
}

.header-bar {
  top: 100px;
  left: 0;
  right: 0;
  position: absolute;
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  z-index: 5;
}

.header-message {
  width: 50%;
}

.header-message p {
  font-size: 18px;
  letter-spacing: 0.5px;
}

.header-img {
  width: 50%;
}

.header-img img {
  position: relative;
  margin: 0 auto;
  width: 90%;
  filter: contrast(95%) brightness(130%) grayscale(1);
}

.header-img::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 45%;
  bottom: 2px;
  right: 5%;
  background: linear-gradient(150deg, transparent 50%,#99ccff 100%);
}

.portfolio-header, .about-header, .contact-header {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.line {
  background-color: #99ccff;
  width: 85%;
  height: 2px;
  margin: 15px 0 0 10px;
}

.project {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 100px;
}

.project-thumbnail {
  width: 30%;
  position: relative;
}

.center {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-title {
  color: #ffffff;
  text-shadow: #333333 2px 2px 2px;
  text-align: center;
  z-index: 5;
}

.project-image {
  border: #333333 solid 1px;
}

.project-description {
  margin-left: 40px;
  width: 40%;
}

.project-links {
  display: flex;
  padding-left: 16px;
}

.project-links a {
  padding-right: 50px;
}

.about-content {
  width: 80%;
  margin: 0 auto;
}

.bio-link {
  color: #99ccff;
  font-weight: bold;
}

.bio-link:hover {
  color: #333333;
}

.contact-icons {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: 0 auto;
}

@media only screen and (min-width: 1440px) {
  .project {
    padding-bottom: 150px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  h1 {
    font-size: 90px;
  }
  
  h2 {
    font-size: 48px;
  }
  
  .header-section {
    margin-top: 40px;
    height: 650px;
  }

  .header-message p {
    font-size: 20px;
    margin-right: 10px;
  }
  
  .header-img img {
    width: 95%;
  }
  
  .header-img::after {
    right: 2.5%;
    width: 47.5%;
  }

  .nav-bar {
    height: 450px;
  }

  .project {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 50px;
  }

  .project-thumbnail {
    width: 40%;
    margin: 0 auto;
  }

  .project-description {
    width: 50%;
    margin: 0 auto;
    padding-top: 150px;
    text-align: center;
  }

  .project-links {
    justify-content: space-evenly;
    padding: 0;
  }

  .project-links a {
    padding: 0;
  }

  .line {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
  .nav-bar a {
    padding: 30px 15px;
  }

  .header-section {
    height: 500px;
  }

  .header-message {
    width: 40%;
  }

  .header-img::after {
    right: 5%;
    bottom: 3px;
    width: 45%;
  }

  .nav-bar {
    height: 325px;
  }

  .portfolio {
    padding-bottom: 0;
  }

  .portfolio-header {
    margin-bottom: 0;
  }

  .project {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 140px;
    padding-bottom: 50px;
  }

  .project-thumbnail {
    width: 50%;
    margin: 0 auto;
  }

  .project-description {
    width: 70%;
    margin: 0 auto;
    padding-top: 140px;
    text-align: center;
  }

  .project-links {
    justify-content: space-evenly;
    padding: 0;
  }

  .project-links a {
    padding: 0;
  }

  .line {
    width: 75%;
  }

  .about {
    padding-bottom: 0;
  }

  .about-header {
    margin-bottom: 16px;
  }

  .contact-header {
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 480px) {
  p {
    margin-bottom: 14px;
  }
  
  h2 {
    padding-bottom: 28px;
  }

  h3 {
    font-size: 24px;
  }
  
  .nav-bar {
    left: 25%;
    width: 70%;
    height: 350px;
  }
  
  .header-bar {
    display: block;
    top: 150px;
  }

  .header-img {
    width: 100%;
  }

  .header-img::after {
    height: 59%;
    width: 90%;
    top: 0;
    left: 0;
  }

  .header-message {
    padding-top: 18px;
    width: 90%;
  }

  .nav-bar {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }

  .nav-bar a {
    padding: 5px;
  }

  .portfolio {
    padding-bottom: 0;
  }

  .project {
    display: block;
  }

  .project-thumbnail {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    padding-top: 60px;
  }

  .project-description {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
  }

  .project-links {
    justify-content: space-evenly;
    padding: 0;
  }

  .project-links a {
    padding: 0;
  }

  .about {
    padding: 0;
  }

  .about-header {
    margin-bottom: 0;
  }

  .line {
    width: 60%;
  }

  .contact-header {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 452px) {
  .header-img::after {
    height: 55.15%;
  }
}