* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #99ccff;
}

h1 {
  font-size: 4.3em;
  font-weight: lighter;
  margin: 0;
}

h2 {
  font-size: 2em;
  font-weight: lighter;
  padding-bottom: 3.5rem;
}

h3 {
  font-size: 1.5em;
  color: #99ccff;
  padding-bottom: 2.25rem;
}

h4 {
  font-size: 2.25em;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0;
}

a {
  color: #99ccff;
  text-decoration: none;
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #333333;
  line-height: 1.5;
  letter-spacing: 0.25px;
  font-size: 1.15em;
  margin-bottom: 1rem;
}

section {
  padding: 3.5em 0;
}

.width {
  max-width: 1600px;
  margin: 0 auto;
}

.toggle-container {
  padding: 1em;
  position: absolute;
  z-index: 5;
}

.toggle {
  display: flex;
  width: 4em;
  height: 2em;
  border-radius: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.toggle:hover {
  cursor: pointer;
}

.toggle p {
  margin: 0;
  color: #99ccff;
}

.toggle-button {
  width: 1.5em;
  height: 1.5em;
  background-color: #99ccff;
  border-radius: 50%;
  position: absolute;
}

.header-section {
  position: relative;
  height: 100vh;
}

.nav-bar {
  position: absolute;
  right: 0;
  padding: 1em;
  margin: 1em;
  width: 600px;
  height: 600px;
  background-color: #99ccff;
  z-index: -1;
}

.nav-links {
  position: absolute;
  right: 15em;
  top: 2em;
}

.nav-links a {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #333333;
  font-size: 1.15em;
  padding: 1.5rem;
  letter-spacing: 0.5px;
}

.nav-links a:hover {
  color: #ffffff;
  transition: color 500ms ease-in 200ms;
}

.header-bar {
  /* top: 5em;
  left: 0;
  right: 0;
  position: absolute; */
  margin: 0 auto;
  padding-top: 5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  /* z-index: 5; */
}

.header-message {
  /* width: 50%; */
  padding: 0 3em;
}

.header-message p {
  font-size: 1em;
  letter-spacing: 0.5px;
}

.header-img {
  /* width: 50%; */
}

.header-img img {
  /* position: relative; */
  margin: 0 auto;
  width: 600px;
  height: 100%;
  margin-right: 5em;
  filter: contrast(95%) brightness(130%) grayscale(1);
}

/* .header-img::after {
  position: absolute;
  content: "";
  width: 600px;
  height: 100%;
  top: 0;
  right: 48px;
  background: linear-gradient(150deg, transparent 50%,#99ccff 100%);
} */

.portfolio-header, .about-header, .contact-header {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2.75rem;
}

.about-header {
  justify-content: space-between;
}

.line {
  background-color: #99ccff;
  width: 85%;
  height: 2px;
  margin: .83em 0 0 .56em;
}

.project {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 5.5em;
}

.project-thumbnail {
  width: 30%;
  position: relative;
}

.center {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-title {
  color: #ffffff;
  line-height: 1.2;
  text-shadow: #333333 2px 2px 2px;
  text-align: center;
  z-index: 5;
}

.project-image {
  border: #333333 solid 1px;
}

.project-description {
  margin-left: 2.25rem;
  width: 40%;
}

.project-links {
  display: flex;
  padding-left: .89em;
}

.project-links a {
  padding-right: 2.75em;
}

.about-content {
  width: 80%;
  margin: 0 auto;
}

.bio-link {
  color: #99ccff;
  font-weight: bold;
}

.bio-link:hover {
  color: #333333;
}

.contact-icons {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: 0 auto;
}

/* light mode and dark mode styles */

#light-mode {
  background-color: #ffffff;
  transition: background-color 500ms ease-out 300ms;
}

#dark-mode {
  background-color: #333333;
  transition: background-color 500ms ease-out 300ms;
}

.toggle-light {
  border: #333333 2px solid;
  transition: background-color 500ms ease-out 300ms,
              border 500ms ease-out 300ms;
}

.toggle-dark {
  border: #cccccc 2px solid;
  transition: background-color 500ms ease-out 300ms,
              border 500ms ease-out 300ms;
}

.light-mode-toggle {
  left: .1rem;
  transition: left 500ms ease-out 300ms;
}

.dark-mode-toggle {
  left: 2.45rem;
  transition: left 500ms ease-out 300ms;
}

.light-mode-link:hover {
  color: #333333;
  transition: color 500ms ease-in 200ms;
}

.dark-mode-link:hover {
  color: #ffffff;
  transition: color 500ms ease-in 200ms;
}

.light-mode-text {
  color: #333333;
  transition: color 500ms ease-out 300ms;
}

.dark-mode-text {
  color: #ffffff;
  transition: color 500ms ease-out 300ms;
}

@media only screen and (min-width: 1440px) {
  .nav-links {
    /* left: 58%; */
  }

  .project {
    padding-bottom: 8.5em;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  h1 {
    font-size: 5em;
  }
  
  h2 {
    font-size: 2.5em;
  }
  
  .header-section {
    height: 36em;
  }

  .header-bar {
    padding-top: 4.5em;
  }

  .header-message {
    padding: 0 0 0 1.25em;
  }

  .header-message p {
    font-size: 1.15em;
    margin-right: .56rem;
  }
  
  .header-img img {
    width: 450px;
    height: 100%;
    margin-right: 4.5em;
  }
  
  .header-img::after {
    width: 500px;
    top: -3px;
    right: -39px;
  }

  .nav-bar {
    width: 450px;
    height: 450px;
  }

  .nav-links {
    right: 7em;
  }

  .project {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 8.5em;
    padding-bottom: 2.75em;
  }

  .project-thumbnail {
    width: 40%;
    margin: 0 auto;
  }

  .project-description {
    width: 50%;
    margin: 0 auto;
    padding-top: 8.5rem;
    text-align: center;
  }

  .project-links {
    justify-content: space-evenly;
    padding: 0;
  }

  .project-links a {
    padding: 0;
  }

  .line {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
  .nav-bar {
    width: 350px;
    height: 350px;
    margin-top: 3em;
  }

  .nav-links {
    right: 4.5em;
    top: 4em;
  }

  .nav-links a {
    padding: 1.75rem .834rem;
  }

  .header-section {
    height: 27.75em;
  }

  .header-bar {
    padding-top: 6em;
  }

  .header-message {
    padding: 0 1em;
  }

  .header-img img {
    width: 350px;
    margin-right: 3.5em;
  }

  .header-img::after {
    right: 5%;
    bottom: 3px;
    width: 45%;
  }

  .portfolio {
    padding-bottom: 0;
  }

  .portfolio-header {
    margin-bottom: 0;
  }

  .project {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 7.75em;
    padding-bottom: 2.75em;
  }

  .project-thumbnail {
    width: 50%;
    margin: 0 auto;
  }

  .project-description {
    width: 70%;
    margin: 0 auto;
    padding-top: 7.75rem;
    text-align: center;
  }

  .project-links {
    justify-content: space-evenly;
    padding: 0;
  }

  .project-links a {
    padding: 0;
  }

  .line {
    width: 75%;
  }

  .about {
    padding-bottom: 0;
  }

  .about-header {
    margin-bottom: .89rem;
  }

  .contact-header {
    margin-bottom: .89rem;
  }
}

@media only screen and (max-width: 480px) {
  p {
    margin-bottom: .78rem;
  }
  
  h2 {
    padding-bottom: 1.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.75rem;
  }
  
  .nav-bar {
    width: 340px;
    height: 19.5em;
    top: 0;
  }

  .nav-links {
    top: 2.5em;
    right: 5.5em;
  }
  
  .header-bar {
    display: block;
    top: 8.35em;
  }

  .header-img {
    width: 100%;
  }

  .header-img img {
    position: relative;
    width: 375px;
    top: 0;
    left: 2em;
    margin: 0;
  }

  .header-img::after {
    height: 59%;
    width: 90%;
    top: 0;
    left: 0;
  }

  .header-message {
    padding-top: 1rem;
    width: 90%;
  }

  .nav-bar {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }

  .nav-links a {
    padding: .25rem;
  }

  .portfolio {
    padding-bottom: 0;
  }

  .project {
    display: block;
  }

  .project-thumbnail {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    padding-top: 3.5rem;
  }

  .project-description {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 4.5rem;
  }

  .project-links {
    justify-content: space-evenly;
    padding: 0;
  }

  .project-links a {
    padding: 0;
  }

  .about {
    padding: 0;
  }

  .about-header {
    margin-bottom: 0;
  }

  .about-content {
    width: 90%;
  }

  .line {
    width: 60%;
  }

  .contact-header {
    margin-bottom: 0;
  }

  .contact-icons {
    width: 90%;
  }
}

@media only screen and (max-width: 452px) {
  .header-img::after {
    height: 55.15%;
  }
}

@media only screen and (max-width: 375px) {
  .header-img::after {
    height: 53.75%;
  }
}

@media only screen and (max-width: 320px) {
  .header-img::after {
    height: 46.5%;
  }
}