* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-size: 18px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #99ccff;
}

h1 {
  font-size: 4.3em;
  font-weight: lighter;
  margin: 0;
}

h2 {
  font-size: 2em;
  font-weight: lighter;
  padding-bottom: 3.5rem;
}

h3 {
  font-size: 1.5em;
  color: #99ccff;
  padding-bottom: 2.25rem;
}

h4 {
  font-size: 2.25em;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0;
}

a {
  color: #99ccff;
  text-decoration: none;
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #333333;
  line-height: 1.5;
  letter-spacing: 0.25px;
  font-size: 1.15em;
  margin-bottom: 1rem;
}

section {
  padding: 3.5em 0;
}

.toggle-container {
  padding: 1em;
}

.toggle {
  display: flex;
  width: 4em;
  border: #cccccc 2px solid;
  border-radius: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  background-color: #ffffff;
}

.toggle:hover {
  /* background-color: #333333; */
}

.toggle p {
  margin: 0;
  color: #99ccff;
}

.toggle-button {
  width: 1.5em;
  height: 1.5em;
  background-color: #99ccff;
  border-radius: 50%;
  position: absolute;
  right: .2rem;
}

.toggle-button:hover {
  /* left: .2rem; */
}

.header-section {
  position: relative;
  height: 100vh;
}

.nav-bar {
  position: absolute;
  left: 55%;
  top: 1.15em;
  width: 44%;
  height: 27.75em;
  padding: .83em;
  background-color: #99ccff;
  z-index: 1;
}

.nav-bar a {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #333333;
  font-size: 1.15em;
  padding: 1.5rem;
  letter-spacing: 0.5px;
}

.nav-bar a:hover {
  color: #ffffff;
  transition: color 500ms ease-in 200ms;
}

a:hover {
  color: #333333;
  transition: color 500ms ease-in 200ms;
}

.header-bar {
  top: 5.5em;
  left: 0;
  right: 0;
  position: absolute;
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  z-index: 5;
}

.header-message {
  width: 50%;
}

.header-message p {
  font-size: 1em;
  letter-spacing: 0.5px;
}

.header-img {
  width: 50%;
}

.header-img img {
  position: relative;
  margin: 0 auto;
  width: 90%;
  filter: contrast(95%) brightness(130%) grayscale(1);
}

.header-img::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 45%;
  bottom: .15rem;
  right: 5%;
  background: linear-gradient(150deg, transparent 50%,#99ccff 100%);
}

.portfolio-header, .about-header, .contact-header {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2.75rem;
}

.line {
  background-color: #99ccff;
  width: 85%;
  height: 2px;
  margin: .83em 0 0 .56em;
}

.project {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 5.5em;
}

.project-thumbnail {
  width: 30%;
  position: relative;
}

.center {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-title {
  color: #ffffff;
  line-height: 1.2;
  text-shadow: #333333 2px 2px 2px;
  text-align: center;
  z-index: 5;
}

.project-image {
  border: #333333 solid 1px;
}

.project-description {
  margin-left: 2.25rem;
  width: 40%;
}

.project-links {
  display: flex;
  padding-left: .89em;
}

.project-links a {
  padding-right: 2.75em;
}

.about-content {
  width: 80%;
  margin: 0 auto;
}

.bio-link {
  color: #99ccff;
  font-weight: bold;
}

.bio-link:hover {
  color: #333333;
}

.contact-icons {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: 0 auto;
}

@media only screen and (min-width: 1440px) {
  .project {
    padding-bottom: 8.5em;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  h1 {
    font-size: 5em;
  }
  
  h2 {
    font-size: 2.5em;
  }
  
  .header-section {
    height: 36em;
  }

  .header-message p {
    font-size: 1.15em;
    margin-right: .56rem;
  }
  
  .header-img img {
    width: 95%;
  }
  
  .header-img::after {
    right: 2.5%;
    width: 47.5%;
  }

  .nav-bar {
    height: 25em;
  }

  .project {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 8.5em;
    padding-bottom: 2.75em;
  }

  .project-thumbnail {
    width: 40%;
    margin: 0 auto;
  }

  .project-description {
    width: 50%;
    margin: 0 auto;
    padding-top: 8.5rem;
    text-align: center;
  }

  .project-links {
    justify-content: space-evenly;
    padding: 0;
  }

  .project-links a {
    padding: 0;
  }

  .line {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
  .nav-bar a {
    padding: 1.75rem .834rem;
  }

  .header-section {
    height: 27.75em;
  }

  .header-message {
    width: 40%;
  }

  .header-img::after {
    right: 5%;
    bottom: 3px;
    width: 45%;
  }

  .nav-bar {
    height: 18em;
  }

  .portfolio {
    padding-bottom: 0;
  }

  .portfolio-header {
    margin-bottom: 0;
  }

  .project {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 7.75em;
    padding-bottom: 2.75em;
  }

  .project-thumbnail {
    width: 50%;
    margin: 0 auto;
  }

  .project-description {
    width: 70%;
    margin: 0 auto;
    padding-top: 7.75rem;
    text-align: center;
  }

  .project-links {
    justify-content: space-evenly;
    padding: 0;
  }

  .project-links a {
    padding: 0;
  }

  .line {
    width: 75%;
  }

  .about {
    padding-bottom: 0;
  }

  .about-header {
    margin-bottom: .89rem;
  }

  .contact-header {
    margin-bottom: .89rem;
  }
}

@media only screen and (max-width: 480px) {
  p {
    margin-bottom: .78rem;
  }
  
  h2 {
    padding-bottom: 1.5rem;
  }

  h3 {
    font-size: 1.5em;
  }
  
  .nav-bar {
    left: 25%;
    width: 70%;
    height: 19.5em;
  }
  
  .header-bar {
    display: block;
    top: 8.35em;
  }

  .header-img {
    width: 100%;
  }

  .header-img::after {
    height: 59%;
    width: 90%;
    top: 0;
    left: 0;
  }

  .header-message {
    padding-top: 1rem;
    width: 90%;
  }

  .nav-bar {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }

  .nav-bar a {
    padding: .25rem;
  }

  .portfolio {
    padding-bottom: 0;
  }

  .project {
    display: block;
  }

  .project-thumbnail {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    padding-top: 3.5rem;
  }

  .project-description {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 4.5rem;
  }

  .project-links {
    justify-content: space-evenly;
    padding: 0;
  }

  .project-links a {
    padding: 0;
  }

  .about {
    padding: 0;
  }

  .about-header {
    margin-bottom: 0;
  }

  .line {
    width: 60%;
  }

  .contact-header {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 452px) {
  .header-img::after {
    height: 55.15%;
  }
}

@media only screen and (max-width: 375px) {
  .header-img::after {
    height: 53%;
  }
}

@media only screen and (max-width: 320px) {
  .header-img::after {
    height: 46.5%;
  }
}